In [2]:
import pandas as pd

In [3]:
loan_sample = pd.read_csv("sampleSubmission.csv")

In [4]:
loan_sample

            id  loss
0       105472     0
1       105473     0
2       105474     0
3       105475     0
4       105476     0
...        ...   ...
210939  316411     0
210940  316412     0
210941  316413     0
210942  316414     0
210943  316415     0

[210944 rows x 2 columns]